<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Transcription</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Upload an Audio and Video File for Transcription</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="audio/wav,audio/mp3,video/mp4" required>
            <button type="submit">Upload</button>
        </form>
        {% if error %}
            <h2 style="color: red;">Error: {{ error }}</h2>
        {% endif %}
        {% if transcription %}
            <h2>Transcription:</h2>
            <pre>{{ transcription }}</pre>
            <a href="{{ url_for('download_file', filename=transcript_file) }}" download>Download Transcript</a>
            <br>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
